* {
    box-sizing: border-box;
}

.barra-calendario {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 16px;
    margin-bottom: 25px;
}

.navegacao-data {
    display: flex;
}

.navegacao-data .btn-nav:first-child {
    border-radius: 8px 0 0 8px;
}

.navegacao-data .btn-nav:last-child {
    border-radius: 0 8px 8px 0;
}

.btn-nav,
.btn-hoje {
    height: 42px;

    border: 1px solid #e0e0e0;
    background: white;
}

.btn-nav {
    width: 42px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btn-hoje {
    padding: 0 18px;
    border-left: none;
    border-right: none;
}

.btn-nav:hover,
.filter-btn:hover,
.modos-visualizacao .inativo:hover,
.mes-dropdown:hover {
    background:#eaf1ff;
    color:#0047b3;
    cursor: pointer;
}

.mes-atual {
    flex: 1;
    display: flex;
}

.mes-texto {
    flex: 1;
    justify-content: center;
    height: 42px;

    padding: 0 18px;

    display: flex;
    align-items: center;

    border: 1px solid #e0e0e0;
    border-right: none;

    border-radius: 8px 0 0 8px;

    background: white;
}

.mes-dropdown {
    width: 42px;
    height: 42px;

    border: 1px solid #e0e0e0;

    border-radius: 0 8px 8px 0;

    background: white;

    cursor: pointer;
}

.mes-dropdown i {
    color: #555;
}

.acoes-calendario {
    display: flex;
    align-items: center;
    gap: 15px;
}

.filter-btn {
    border: none;
    background: white;
    border-radius: 10px;
    padding: 10px;
    border: 1px solid #e0e0e0;
}

.modos-visualizacao {
    display: flex;
}

.modos-visualizacao button {
    padding: 10px 18px;
    border: 1px solid #e0e0e0;
    background: white;
    cursor: pointer;
}

.modos-visualizacao button:first-child {
    border-radius: 8px 0 0 8px;
}

.modos-visualizacao button:last-child {
    border-radius: 0 8px 8px 0;
}

.modos-visualizacao .ativo {
    background: #0d47a1;
    color: white;
}

.calendario {
    background: white;
    border: 1px solid #e0e0e0;
    border-radius: 12px;
    overflow: hidden;
}

.dias-semana, .grade-calendario {
    display: grid;
    grid-template-columns: repeat(7, minmax(0, 1fr));
}

.dias-semana {
    display: grid;
    background: #f5f7fa;
    border-bottom: 1px solid #e0e0e0;
}

.dias-semana div,
.dia {
    border-right: 1px solid #e0e0e0;
}

.dias-semana div {
    padding: 14px;
    text-align: center;
    font-weight: 600;
    color: #555;
    border-right: 1px solid #e0e0e0;
}

.dias-semana div:last-child {
    border-right: none;
}

.dia {
    min-height: 115px;
    padding: 10px;
    border-right: 1px solid #e0e0e0;
    border-bottom: 1px solid #e0e0e0;
    font-weight: 500;
    color: #333;
    position: relative;
    transition: background 0.2s;
}

.dia:nth-child(7n) {
    border-right: none;
}

.numero-dia {
    display: block;
    margin-bottom: 8px;
}

.evento {
    font-size: 12px;
    padding: 5px 8px;
    margin-bottom: 5px;
    border-radius: 6px;

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.evento-manutencao {
    background: #fef3c7;
    color: #b45309;
}

.evento-reserva-lab {
    background: #c7dfff;
    color: #1e40af;
}

.evento-reserva-eqp {
    background: #c7dfff;
    color: #1e40af;
}

.dia:hover {
    background: #eaf1ff;
    color:#0047b3;
}

.dia-atual {
    background: #d6e9ff;
}

.dia-atual:hover {
    background: #b8d6ff;
}

.dia-atual .numero-dia {
    width: 28px;
    height: 28px;
    background: #0d47a1;
    color: white;
    border-radius: 50%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.dia-passado {
    background: #fafafa;
    opacity: 0.75;
}

.dia-passado .numero-dia {
    color: #b0b0b0;
}

@media(max-width: 1200px) {

    .cards {
        grid-template-columns: repeat(2, 1fr);
    }

    .filters-area {
        grid-template-columns: 1fr;
    }
}

@media(max-width: 900px) {

    .sidebar {
        display: none;
    }

    .cards {
        grid-template-columns: 1fr;
    }

    table {
        display: block;
        overflow-x: auto;
    }
}
