*{
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family:Arial, Helvetica, sans-serif;
}

body{
    background:#f4f6f9;
}

.login-container{
    display:flex;
    min-height:100vh;
}

/* LADO ESQUERDO */

.login-left{
    width:50%;

    background:linear-gradient(
        180deg,
        #0047b3,
        #00307a
    );

    color:white;

    display:flex;
    flex-direction:column;
    justify-content:top;
    align-items:center;

    padding:60px;
}

.login-left img{
    width:640px;
}

.login-left h2{

    text-align: center;
    font-size:34px;
    margin-bottom:20px;
    line-height:1.3;
}

.login-left p{
    text-align: center;

    font-size:17px;
    opacity:.95;
    line-height:1.6;
    max-width:500px;
    margin-bottom:40px;
}

/* LADO DIREITO */

.login-right{
    width:50%;

    background:white;

    display:flex;
    justify-content:center;
    align-items:center;

    padding:60px;
}

.login-form{
    width:100%;
    max-width:450px;
}

.login-form h2{
    font-size:40px;
    color:#00307a;
    margin-bottom:10px;
}

.login-form p{
    color:#666;
    margin-bottom:30px;
}

.input-group{

    margin-bottom:20px;
}

.input-group label{

    display:block;

    margin-bottom:8px;

    color:#374151;

    font-weight:600;
}

.input-box{

    height:55px;

    border:1px solid #d5dbe7;

    border-radius:12px;

    display:flex;
    align-items:center;

    padding:0 16px;

    gap:12px;

    transition:.3s;
}

.input-box:focus-within{

    border-color:#0047b3;

    box-shadow:
    0 0 0 3px rgba(0,71,179,.12);
}

.input-box i{

    color:#0047b3;
}

.input-box input{

    width:100%;

    border:none;

    outline:none;

    font-size:15px;
}


.form-options{
    display:flex;
    justify-content:space-between;
    align-items:center;

    margin-bottom:25px;

    font-size:14px;
}

.form-options a{
    color:#0047b3;
    text-decoration:none;
}

.btn-login{

    width:100%;

    height:56px;

    border:none;

    border-radius:12px;

    background:#0047b3;

    color:#fff;

    font-size:16px;

    font-weight:600;

    cursor:pointer;

    transition:.3s;
}
.btn-login a {
    display: block;
    width: 100%;
    height: 100%;
    align-content: center;
    color: #fff;
    text-decoration: none; 
}

.btn-login:hover{

    background:#003894;
}

.register-link{
    text-align:center;
    margin-top:25px;
    color:#666;
}

.register-link a{
    color:#0047b3;
    font-weight:bold;
    text-decoration:none;
}

/* RESPONSIVO */

@media(max-width:900px){

    .login-left{
        display:none;
    }

    .login-right{
        width:100%;
    }
}